//重置样式
@import './variables';

* {
  box-sizing: border-box ;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
}
a {
  color: #999;
  text-decoration: none;
}
li {
  list-style-type: none;
}

//colors
//文本颜色
@each $colorKey, $colorVar in $colors {
  .text-#{$colorKey} {
    color: $colorVar;
  }
}

//背景颜色
@each $colorKey, $colorVar in $colors {
  .bg-#{$colorKey} {
    background-color: $colorVar;
  }
}
//文本位置
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var  !important;
  }
}
//字体大小

@each $fontKey, $fontVar in $fonts {
  .#{$fontKey} {
    font-size: $fontVar * $font-base-size;
  }
}

//以...显示多出的文字
.text-ellipsis{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
//弹性盒布局
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex {
  flex: 1;
}
.flex-grow {
  flex-grow: 1;
}


@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
//垂直方向

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

@each $STkey, $STvalue in $space-type {
  //m-1
  @each $SSkey, $SSvalue in $space-size {
    .#{$STkey}-#{$SSkey} {
      #{$STvalue}: $SSvalue * $base-space-size;
    }
  }
  //mx-1,px-1
  @each $SSkey, $SSvalue in $space-size {
    .#{$STkey}x-#{$SSkey} {
      #{$STvalue}-left: $SSvalue * $base-space-size;
      #{$STvalue}-right: $SSvalue * $base-space-size;
    }
  }
  //my-1
  @each $SSkey, $SSvalue in $space-size {
    .#{$STkey}y-#{$SSkey} {
      #{$STvalue}-top: $SSvalue * $base-space-size;
      #{$STvalue}-bottom: $SSvalue * $base-space-size;
    }
  }
  //mt-1
  @each $SDkey, $SDvalue in $space-direction {
    @each $SSkey, $SSvalue in $space-size {
      .#{$STkey}#{$SDkey}-#{$SSkey} {
        #{$STvalue}-#{$SDvalue}: $SSvalue * $base-space-size;
      }
    }
  }
}
//button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($fonts, 'ms') * $font-base-size;
  padding: 0.3rem 0.6rem;
}

//nav
.nav {
  display: flex;
  .nav-items {
    border-bottom: 0.2308rem solid transparent;
    &.active {
      border-bottom: 0.2308rem solid  map-get($colors, 'primary' );
      color:map-get($colors, 'primary' )
    }
    .nav-link {
      padding-bottom: 0.2308rem;
    }
  }
  &.nav-increase{
    .nav-items {
      border-bottom: 0.2308rem solid transparent;
      &.active {
        border-bottom: 0.2308rem solid  map-get($colors, 'white' );
        color:map-get($colors, 'white' )
      }
      .nav-link {
        padding-bottom: 0.2308rem;
      }
    }
  }
}


//sprite

.sprite{
  background:url('../index.png') no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-news{
    width:23px;
    height:20px;
    background-position: 63.546% 15.517%;
  }
  &.sprite-story{
    width:23px;
    height:20px;
    background-position: 90.483% 15.614%;
  }
  &.sprite-shop{
    width:19px;
    height:22px;
    background-position: 36.746% 0.924%;
  }
  &.sprite-tiyan{
    width:20px;
    height:20px;
    background-position:  10.408% 15.517%;
  }
  &.sprite-new{
    width:20px;
    height:21px;
    background-position: 89.733% 1.266%;
  }
  &.sprite-extended{
    width:24px;
    height:20px;
    background-position: 36.467% 15.287%;
  }
  &.sprite-community{
    width:26px;
    height:21px;
    background-position:  9.728% 1.266%;
  }
  &.sprite-campsite{
    width:24px;
    height:24px;
    background-position: 63.3% 0.927%;
  }
  &.sprite-public{
    width:24px;
    height:20px;
    background-position: 0 96.207%;
  }
  &.sprite-edition{
    width:19px;
    height:22px;
    background-position: 36.746% 0.924%;
  }
  &.sprite-arrowhead{
    width:10px;
    height:10px;
    background-position: 38.577% 52.076%;
  }
  
}